@model EBlog.Service.Models.DTOs.AppUser.UpdateProfileDTO

@{
    ViewData["Title"] = "UpdateUser";
}

<h1 class="col-md-4 mx-auto">Update Your Profile</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="UpdateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Serdar" asp-for="FirstName">
                <label asp-for="FirstName"></label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Koç" asp-for="LastName">
                <label asp-for="LastName"></label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="UserName">
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="" asp-for="PhoneNumber">
                <label asp-for="PhoneNumber"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password" asp-for="ConfirmPassword">
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Update User" class="btn btn-secondary" />
            </div>
        </form>
        <br />
        <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <label asp-for="ImagePath"></label>
            <input class="form-control" type="file" name="imageFile" /><br />
            <button class="btn btn-secondary" type="submit">Upload Image</button>
        </form>
    </div>
</div>




<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
</div>
