@using EBlog.Service.Models.VMs.Article
@model GetArticleDetailVM

@{
    ViewData["Title"] = "Read Article";
}

<div>
    <h2>
        <b>@Html.DisplayFor(model => model.Title)</b>
    </h2>
</div>
<hr />
@if (User.IsInRole("Admin"))
{
    <span style="cursor:pointer">
        <a onclick="location.href = '@Url.Action("Edit","Article",new {id = Model.Id})'">Edit your article</a>
    </span>

<a> | </a>
}
<hr />

<div>
        <span>
            @* <p style="text-align:justify">@Html.DisplayFor(model => model.Content)</p> *@
            <p style="text-align:justify">@Html.Raw(Model.Content)</p>
        </span>
</div>
<hr />


@* ; text-decoration: underline; *@